@import 'utility.css';

/* fonts */
@font-face {
    font-family: "Raleway-Regular";
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: "Raleway-Medium";
    src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
    font-family: "Raleway-Bold";
    src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
    font-family: "Raleway-SemiBold";
    src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: "Raleway-Black";
    src: url(../fonts/Raleway-Black.ttf);
}

/* colors */

:root {
    --primary: #EEBF00;
    --secondary:#232B38;
    --ternary:#6C6C6C;
    --danger:#FE4545;
    --pure:#FEFEFE;
    --light:#F0F0F0;
    --heaven:#FFFFFF;
    --footer:#2D333F;
}

/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    -webkit-font-smoothing:antialiased;
}

.container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width:576px){
    .container{
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1152px;
    }
  }

  header.top-bar{
    background: var(--secondary);
    color: var(--pure);
    font-family: 'Relway-SemiBold';
    padding: 0.75rem 0;
  }

  header.top-bar .auth > div a {
    color: var(--pure);
    text-decoration: none;
  }
  header.top-bar .auth > div img{
    margin-right: 0.35rem;
  }
  header.top-bar .icons a{
    margin-right: 0.6rem;
  }
  header.top-bar .container .auth .divider{
    padding: 0 1rem;
  }
  nav .top{
    padding: 1.5rem 0;
  }
  nav .top .contact h5, nav .top .time h5{
    font-family: 'Relway-Black';
    margin-bottom: 0.25rem;
  }
  nav .top .contact h6, nav .top .time h6 {
    font-family: 'Relway-Medium';
    letter-spacing: 0.055rem;
    font-size: 0.75rem;
    color: var(--ternary);
  }
  nav .top .contact img, nav .top .time img{
    margin-right: 1rem;
  }
  nav .navbar a{
    text-decoration: none;
    color: var(--secondary);
    font-family: 'Relway-SemiBold';
    font-size: 1rem;
    padding: 1rem 1.5rem;
    transition: all .3s ease;
  }
  nav .navbar a.active {
    background: var(--primary);
    color: var(--pure);
  }
  nav .navbar a:hover{
    background: var(--primary);
    color: var(--pure);
  }