@import 'utility.css';

/* fonts */
@font-face {
    font-family: "Raleway-Regular";
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: "Raleway-Medium";
    src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
    font-family: "Raleway-Bold";
    src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
    font-family: "Raleway-SemiBold";
    src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: "Raleway-Black";
    src: url(../fonts/Raleway-Black.ttf);
}
@font-face {
    font-family: "Raleway-ExtraBold";
    src: url(../fonts/Raleway-ExtraBold.ttf);
}

/* colors */

:root {
    --primary: #EEBF00;
    --secondary:#232B38;
    --ternary:#6C6C6C;
    --danger:#FE4545;
    --pure:#FEFEFE;
    --light:#F0F0F0;
    --heaven:#FFFFFF;
    --footer:#2D333F;
}

/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    -webkit-font-smoothing:antialiased;
    height: 4000px;
    font-family: 'Raleway-Regular';
}

.container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width:576px){
    .container{
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1152px;
    }
  }

  header.top-bar{
    background: var(--secondary);
    color: var(--pure);
    font-family: 'Raleway-SemiBold';
    padding: 0.75rem 0;
  }

  header.top-bar .auth > div a {
    color: var(--pure);
    text-decoration: none;
  }
  header.top-bar .auth > div img{
    margin-right: 0.35rem;
  }
  header.top-bar .icons a{
    margin-right: 0.6rem;
  }
  header.top-bar .container .auth .divider{
    padding: 0 1rem;
  }
  nav .top{
    padding: 1.5rem 0;
  }
  nav .top .contact h5, nav .top .time h5{
    font-family: 'Raleway-Black';
    margin-bottom: 0.25rem;
  }
  nav .top .contact h6, nav .top .time h6 {
    font-family: 'Raleway-Medium';
    letter-spacing: 0.055rem;
    font-size: 0.75rem;
    color: var(--ternary);
  }
  nav .top .contact img, nav .top .time img{
    margin-right: 1rem;
  }
  nav .navbar a{
    text-decoration: none;
    color: var(--secondary);
    font-family: 'Raleway-SemiBold';
    font-size: 1rem;
    padding: 1rem 1.5rem;
    transition: all .3s ease;
  }
  nav .navbar a.active {
    background: var(--primary);
    color: var(--pure);
  }
  nav .navbar a:hover{
    background: var(--primary);
    color: var(--pure);
  }
  header.hero{
    height: 600px;
    background-image: url(../images/hero.png);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
  }
  header.hero .container{
    position: relative;
  }
  header.hero .welcome{
    margin-bottom: 0.25rem;
  }

  header.hero .welcome span{
    font-family: 'Raleway-Bold';
    color: var(--secondary);
    margin-right: 0.75rem;
  }
  header.hero h1{
    font-family: 'Raleway-ExtraBold';
    color: var(--secondary);
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
  }
  header.hero h1 span{
    color: var(--primary);
  }
  header.hero p{
    font-family: 'Raleway-Medium';
    width: 50%;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  header.hero .hero-img{
    position: absolute;
    top: -40px;
    right: 40px;
  }

  section{
    padding: 4rem 0;
  }
  section.top-products{
    background: var(--light);
  }
  section.top-products .slider .food-card{
    background: var(--pure);
    padding: 1.5rem 0;
    border-radius: 4px;
  }

  section.top-products .slider .food-card .product-img img{
    width: 80%;
    height: 200px;
    padding-bottom: 1rem;
    object-fit: contain;
  }
  hr {
    border: 1px solid var(--light);
    opacity: 0.8;
    margin: 1rem 0;
  }
  section.top-products .slider .food-card h2{
    font-family: 'Raleway-Bold';
    font-size: 1.3rem;
    margin-bottom: 0.25rem;
  }
  section.top-products .slider .food-card .stars{
    margin-bottom: 0.5rem;
  }
  section.top-products .slider .food-card .stars img {
    margin-right: 0.25rem;
  }
  section.top-products .slider .food-card .price {
    font-family: 'Raleway-Medium';
    color: var(--danger);
    margin-bottom: 1rem;
  }
  section.top-products .slider .food-card button{
    font-family: 'Raleway-Medium';
    color: var(--secondary);
    background: var(--heaven);
    border: 2px solid var(--primary);
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease;
  }
  section.top-products .slider .food-card button img{
    background: var(--primary);
    padding: 0.5rem;
    height: 33px;
    margin-right: 1.2rem;
  }
  section.top-products .slider .food-card button:hover{
    background: var(--primary);
    color: var(--heaven);
  }
  .slick-slide{
    margin: 0 27px;
  }
  .slick-list{
    margin: 0 -27px;
  }

  .top-products .slider-btn{
    width: 30px;
    height: 30px;
    border: none;
    background: var(--primary);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
  } 

  .top-products .prev-btn{
    position: absolute;
    top: 46%;
    left: -3rem;
    z-index: 1;
  }
  section.top-products .slider{
    position: relative;
  }
  .top-products .next-btn{
    position: absolute;
    top: 46%;
    right: -3rem;
    z-index: 1;
  }

  .top-products .btn-wrapper{
    margin-top: 2rem;
  }
  .slick-track{
    padding: 1rem 0;
  }

  section.about-meal img{
    width: 85%;
  }
  section.about-meal h2{
    font-family: 'Raleway-Bold';
    font-size: 1.4rem;
    color: var(--secondary);
    margin-bottom: 2rem;
    line-height: 1.3;
  }

  section.about-meal p{
    line-height: 1.7;
    margin-bottom: 4rem;
  }

  section.services{
    background: var(--light);
    position: relative;
    z-index: 0;
  }
  section.services .card-wrapper .service-card{
    background: var(--heaven);
    text-align: center;
    padding: 2rem;
    padding-top: 4rem;
    position: relative;
    border-radius: 4px;
    margin-right: 2rem;
  }
  section.services .card-wrapper{
    margin-right: -2rem;
    margin-top: 8rem;
  }
  section.services .card-wrapper .service-card img{
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
  }
  section.services .card-wrapper .service-card h2{
    font-family: 'Raleway-Bold';
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  section.services .card-wrapper .service-card p{
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  section.deals {
    background: linear-gradient(
        rgba(35, 43, 56, 0.9),
        rgba(35, 43, 56, 0.9)
        ), url(../images/food-table.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
  }

  section.deals .timer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -2rem;
    margin-bottom: 2rem;
  }
  section.deals .timer div {
    margin-right: 2rem;
    background: var(--primary);
    width: 150px;
    height: 150px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  section.deals .timer div span:first-child{
    font-family: 'Raleway-SemiBold';
    font-size: 2.5rem;
    color: var(--heaven);
    margin-bottom: 0.05rem;
  }
  section.deals .timer div span:last-child{
    font-family: 'Raleway-Medium';
    color: var(--heaven);
  }
  section.articles{
    background: var(--light);
    position: relative;
    z-index: 0;
  }
  section.articles .articles-wrap .card img{
    width: 100%;
  }
  section.articles .articles-wrap{
    display: flex;
    margin-right: -2rem;
    margin-bottom: 2rem;
  }
  section.articles .articles-wrap .card{
    margin-right: 2rem;
    background: var(--heaven);
    border-radius: 4px;
  }
  section.articles .articles-wrap .card .content{
    padding: 2rem;
  }
  section.articles .articles-wrap .card .content .meta{
    margin-bottom: 1rem;
  }
  section.articles .articles-wrap .card .content .meta .comment-count{
    margin-left: 1rem;
  }
  section.articles .articles-wrap .card .content h2{
    font-family: 'Raleway-Bold';
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  section.articles .articles-wrap .card .content p{
    line-height: 1.6;
  }