.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.magic-shadow{
    position: relative;
    background: var(--heaven);
}

.magic-shadow-sm:after{
    content: '';
    display: block;
    width: 100%;
    height: 69px;
    background-image: url(../icons/shadow-sm.svg);
    bottom: -20px;
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
    background-position: center;
    left: 50%;
    transform: translateX(-50%);
}

.magic-shadow-sm{
    position: relative;
    background: var(--heaven);
}

.magic-shadow:after{
    content: '';
    display: block;
    width: 100%;
    height: 69px;
    background-image: url(../icons/shadow.svg);
    bottom: -22px;
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
    background-position: center;
}
.btn{
    padding: 0.75rem 0.75rem;
    border-radius: 4px;
    line-height: 0.8;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .3s ease;
    border: 1px solid transparent
}

.btn-primary{
    background: var(--primary);
    color: var(--heaven);
}
.btn-primary:hover{
    background: var(--heaven);
    color: var(--primary);
    border: 1px solid var(--primary);
}
.btn-secondary{
    background: var(--secondary);
    color: var(--heaven);
}
.btn-secondary:hover{
    background: var(--heaven);
    color: var(--secondary);
    border: 1px solid var(--secondary);
}
header.hero .btn:first-child{
    margin-right: 0.5rem;
}

.section-heading{
    font-family: 'Relway-Bold';
    text-align: center;
    position: relative;
    margin-bottom: 5rem;
}
.section-heading::after{
    content: '';
    display: block;
    width: 100%;
    height: 30px;
    background-image: url(../icons/hr.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -40px;
}
.text-center{
    text-align: center;
}

.flex-1{
    flex: 1;
}
.text-primary{
    color: var(--primary);
}
.text-pure{
    color: var(--pure);
}